<!-- inventory/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Система обліку{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Склади</a></li>
            <li><a href="{% url 'item_list' %}">Майно</a></li>
            <li>
                <a href="#">Операції</a>
                <ul>
                    <li><a href="{% url 'operation_arrival' %}">Прихід</a></li>
                    <li><a href="{% url 'operation_transfer' %}">Переміщення</a></li>
                    <li><a href="{% url 'operation_disposal' %}">Списання</a></li>
                </ul>
            </li>
            <li><a href="{% url 'reports' %}">Звіти</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>